.mySwiper {
  padding-bottom: 15px !important;
}

.swiper-pagination {
  bottom: -2px !important;
}

.swiper-button-disabled {
  color: #0055ca !important;
}

.swiper-button-next {
  color: #0055cae5 !important;
}

.swiper-button-prev {
  color: #0055cae5 !important;
}
.swiper-pagination-bullet-active {
  background-color: #0055cae5 !important;
}

@media (max-width: 400px) {
  .swiper-button-next,
  .swiper-button-prev {
    height: 22px !important;
  }
}
